.navbar{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 80%;
  height: 2rem;
  color: #ABA3FF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;

}
.collaborateurnav{
  display: flex;
  width: 100%;
  background-color: #1D1D4D;
  text-align: left;
  align-items: center;
  height: 3rem;
  border-radius: 10px;
  cursor: default;
  transition: all 0.2s ease-in-out;

}
.collaborateurnav.active{
  background-color: transparent;
  cursor: pointer;
}
.collaborateurnav.active:hover{
  color: white;
}
.collaborateurnav h1{
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2rem;
}
.managernav{
  display: flex;
  width: 100%;
  background-color: #1D1D4D;
  text-align: left;
  align-items: center;
  height: 3rem;
  border-radius: 10px;
  cursor: default;
  transition: all 0.2s ease-in-out;
}
.managernav.active{
  background-color: transparent;
  cursor: pointer;
}
.managernav.active:hover{
  color: white;
}
.managernav h1{
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2rem;
}

.Card-modif{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Card-container {
  background-color: #202046;
  border-radius: 0px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  margin-left: .25em;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
}
.manager-card{
  display: flex;
  background-color: #202046;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  width: 90%;
  min-width: 30rem;
  height: 8rem;
  margin: .5rem .25em;
  padding: 0.5rem;
}
.managercard-right{
  display: flex;
  gap: 8rem;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.mcard-details{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.mcard-info{
  display: flex;
  height: 8rem;
  text-align: left;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
.mcard-info.form{
  display: flex;
  height: 3rem;
  text-align: left;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 0rem;
  margin-left: 3rem;
  margin-right: 4rem;
}
.mcard-info.form.top{
  margin-top: 0rem;
}
.mcard-info span{
  color: #B9BAD9;
  font-family: Inter;
  font-size: .7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.mcard-info p{
  color: #FFF;
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  line-height: .3;
}
.spandessous{
  margin-top: .3rem;
}
.spandessous.bigger{
  font-size: .8rem;
}
.mname{
  color: #FFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0;
}
.openboutton-manager{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: .8rem 3rem;
  border-radius: 10px;
  background: #8C8DB3;
  color: #202046;
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.openboutton-manager:hover{
  background: #C0C1F0;
}
.absence-request-form-manager {
  display: flex;
  position: fixed;
  z-index: 1001;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  min-width: 50rem;
  border-radius: 1rem;
  background-color: #18183D;
}
.manager-header{
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.absence-request-form-manager h3 {
  width: 70%;
  margin-top: 2rem;
  text-align: left;
}
.formpage-info{
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 70%;
  height: 15rem;
  border-radius: 10px;
  border-left: 2px solid #FFAE62;
  background: #202046;
}
.action-buttons{
  display: flex;
  flex-direction: row;
  margin: 3rem;
  gap: 2rem;
}
.btn-accept{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: .8rem 3rem;
  border-radius: 10px;
  background: #93C357;
  color: #334C14;
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.btn-accept:hover{
  background-color: #bbf574;
}
.btn-refuse{
   display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: .8rem 3rem;
  border-radius: 10px;
  background: #CC5759;
  color: #681B1C;
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.btn-refuse:hover{
  background-color:#f37577 ;
}

.statutssubmit{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: 1.5rem 1rem;
}
.mstatut{
  display: flex;
  padding: 0.7rem 0rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
.checkmark {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;  /* BORD BLANC */
  border-radius: 4px;          /* Carré */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: transparent;
  color: transparent;       /* Coche invisible par défaut */
  margin-right: 8px;
  transition: all 0.2s ease;
}
.mstatut input[type="radio"] {
  display: none;
}
.mstatut input[type="radio"]:checked + .checkmark {
  color: white;             /* Affiche la coche ✓ */
}
.mstatut.validé{
  color: #93C357;
}

.mstatut.refusé{
  color: #CC5759;
}

.mstatut.en-cours{
  color: #FFAE62;
}
.msubmitboutton{
  display: inline-block;
  background-color: #3B3B70;
  color: white;
  padding: 0.5rem 0rem;
  width: 9rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.badge{
  display: inline-block;
  padding: 0.5rem 0rem;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
}

.badge.validé {
  border-color: #93C357;
  color: #93C357;
}

.badge.refusé {
  border-color: #CC5759;
  color: #CC5759;
}

.badge.brouillon {
  border-color: #5786C3;
  color: #5786C3;
}

.badge.en-cours {
  border-color: #FFAE62;
  color: #FFAE62;
}

.formpage{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  
}
.enregistrerdemande{
  background-color: #FBA452;
  color: #1D1D4D;
  padding: .5rem 3rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.brouillondemande{
  background-color: #5786C3;
  color: #1D1D4D;
  padding: .7rem 3rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.bouttonsform{
  display: flex;
  padding-top: 4rem;
  flex-direction: row;
  gap: 5rem;
}

.absence-request-form{
  display: flex;
  position: fixed;
  z-index: 1001;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  min-width: 50rem;
  border-radius: 1rem;
  background-color: #18183D;
}
.manager-header.nouvelle{
  display: flex;
  width: 50%;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-choix{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}
.choix{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.custom-select-container {
  position: relative;
  width: 250px;
}

.custom-filter-container{
  position: relative;
  width: auto;
  min-width: 10rem;
}
.custom-filter-container.margin{
  margin-right: 1rem;
}

.select-button {
  width: 100%;
  background-color: #ABA3FF1A;
  color: #ABA3FF;
  border: none;
  border-radius: .5rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-button-filter{
  width: 100%;
  background-color: #ABA3FF1A;
  color: #ABA3FF;
  border: none;
  border-radius: .8rem;
  padding: 0.7rem 1rem;
  font-size: .8rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 1rem;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: .3rem;
  background-color: #1D1D4D;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
  padding: 0;
  list-style: none;
}

.option-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #ABA3FF;
  font-weight: 500;
  font-size: 0.95rem;
}

.option-item:hover {
  background-color: #ABA3FF22;
}

.option-item.active {
  background-color: #ABA3FF33;
  font-weight: bold;
}

input[type="date"] {
  background-color: #ABA3FF1A;
  color: #ABA3FF;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  appearance: none; 
  -webkit-appearance: none;
  cursor: pointer;
}
.modification-brouillant{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modification-brouillant-icon{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background-color: #9091B6;
  cursor: pointer;
  margin: 3px;
}
.icon-container.supprimer:hover {
  background-color: #CC5759;
  transition: .6s ease;
}
.icon-container.modifier:hover {
  background-color: #5786C3;
  transition: .6s ease;
}
.icon-container.envoyer:hover {
  background-color: #FBA452;
  transition: .6s ease;
}
.more-button{
  display: flex;
  size: 26;
  color: white;
  padding: .5rem .3rem .5rem .3rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.more-button:hover{
  background-color: #41416C;
}
.more-button.active{
  background-color: #41416C;
}
.more-dropdown{
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #202046;
  border: 1px solid #41416C;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  width: 290px;
  height: 166px;
  right: 0;
  top: 100%;
  margin-top: 12px;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}
.more-title{
display: flex;
margin-left: 21px;
color: #9091B6;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 22px;
}
.more-actions{
display: flex;
cursor: pointer;
width: 80%;
background-color: transparent;
padding: 6px 0px 6px 16px;
margin-left: 21px;
align-items: center;
gap: 15px;
border-radius: 10px;
color: #B9BAD9;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 22px;
  transition: all 0.2s ease-in-out;
}
.more-actions:hover{
background-color: #41416C;
}
.more-icons{
  color: #B9BAD9;
}
.date-soummisssion{
  display: block;
}

@media (max-width:1278px) {
  .managercard-right{
  gap: 2rem;
}

}
@media (max-width:990px) {
  .mcard-info.second{
    display: none;
  }

}
@media (max-width: 890px) {
  .navbar{
  display: flex;
  border-radius: 10px;
  background-color: #1D1D4D;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 16rem;
  height: 2.5rem;
  color: #ABA3FF;
  justify-content: center ;
  align-items: center ;
  flex-direction: row;
  margin-left: none ;
  margin-right: 0rem;
}
.collaborateurnav{
  display: flex;
  width: 8rem;
  background-color: #ABA3FF;
  color: #1D1D4D;
  text-align: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 10px;
  cursor: default;
  transition: all 0.2s ease-in-out;

}
.collaborateurnav.active{
  background-color: transparent;
  color: #ABA3FF;
  cursor: pointer;
}
.collaborateurnav.active:hover{
  color: white;
}
.managernav{
  display: flex;
  width: 8rem;
  background-color: #ABA3FF;
  color: #1D1D4D;
  text-align: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 10px;
  cursor: default;
  transition: all 0.2s ease-in-out;
}
.managernav.active{
  background-color: transparent;
  color: #ABA3FF;
  cursor: pointer;
}
.managernav.active:hover{
  color: white;
}
.collaborateurnav h1{
  font-size: 13px;
  margin-left: 1.5rem;
}
.managernav h1{
  font-size: 13px;
  margin-left: none ;
  text-align: center;
}
.custom-filter-container{
  position: relative;
  min-width: 6rem;
}
.select-button {
  border-radius: .5rem;
  padding: 0.7rem 1rem;
}
.select-button-filter{
  border-radius: .8rem;
  padding: 0.7rem 1rem;
  font-size: .7rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #ABA3FF;
  font-weight: 500;
  font-size: 0.8rem;
}

.absence-request-form-manager {
  bottom: 0;
  width: 100vw;
  border-radius: 1rem 1rem 0rem 0rem;
}
.absence-request-form {
  bottom: 0;
  width: 100vw;
  border-radius: 1rem 1rem 0rem 0rem;
}

}

@media (max-width:680px) {
  .mcard-info.second{
    display: none;
  }
  .mcard-info.first{
    display: none;
  }
  .date-soummisssion{
    display: none;
  }
  .Card-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 15px;
}
.modification-brouillant{
  display: none;
}
.formpage-info{
  width: 60%;
  height: 15rem;
}
.manager-header{
  display: flex;
  width: 50%;
}
.mcard-info.form p{
  display: block;
  color: #FFF;
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
}