.navbar{
  display: flex;
  position: fixed;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 3rem;
  width: 20vw;
  background-color: #9091B6;
  height: 2rem;
  border-radius: 1rem;
  color: #111271;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.collaborateurnav{
  display: flex;
  background-color: #FFAE62;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 0;
  cursor: default;
}
.collaborateurnav.active{
  background-color: #9091B6;
  cursor: pointer;
}
.collaborateurnav h1{
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 700;
}
.managernav{
  display: flex;
  background-color: #FFAE62;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 0;
  cursor: default;
}
.managernav.active{
  background-color: #9091B6;
  cursor: pointer;
}
.managernav h1{
  font-family: Inter;
  font-size: .8rem;
  font-style: normal;
  font-weight: 600;
}

.Card-modif{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Card-container {
  background-color: #202046;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100px;
  box-sizing: border-box;
  margin: 1rem .25em;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.manager-card{
  display: flex;
  background-color: #202046;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  width: 70vw;
  height: fit-content;
  margin: 1rem .25em;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Inter;
  font-weight: 350;
}
.mcard-info{
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 4rem;
}
.mcard-info span{
  margin-bottom: .5rem;
}
.mname{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.statutssubmit{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  padding: 1.5rem 1rem;
}
.mstatut{
  display: flex;
  padding: 0.7rem 0rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
.checkmark {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;  /* BORD BLANC */
  border-radius: 4px;          /* Carré */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: transparent;
  color: transparent;       /* Coche invisible par défaut */
  margin-right: 8px;
  transition: all 0.2s ease;
}
.mstatut input[type="radio"] {
  display: none;
}
.mstatut input[type="radio"]:checked + .checkmark {
  color: white;             /* Affiche la coche ✓ */
}
.mstatut.validé{
  color: #93C357;
}

.mstatut.refusé{
  color: #CC5759;
}

.mstatut.en-cours{
  color: #FFAE62;
}
.msubmitboutton{
  display: inline-block;
  background-color: #3B3B70;
  color: white;
  padding: 0.5rem 0rem;
  width: 9rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.badge{
  display: inline-block;
  padding: 0.7rem 0rem;
  width: 10rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.badge.validé{
  background-color: #93C357;
  color: #334C14;
}

.badge.refusé{
  background-color: #CC5759;
  color: #681B1C;
}

.badge.brouillon{
  background-color: #5786C3;
  color: #1F395B;
}

.badge.en-cours{
  background-color: #FFAE62;
  color: #5D3C1C;
}

.formpage{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.submitboutton{
  display: flex;
  background-color: #FBA452;
  color: #1D1D4D;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.submitboutton:hover{
  background-color:#FFBD7E ;
}
.enregistrerdemande{
  background-color: #FBA452;
  color: #1D1D4D;
  padding: .5rem 3rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.brouillondemande{
  background-color: #5786C3;
  color: #1D1D4D;
  padding: .5rem 3rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.annulerdemande{
  background-color: #988D83;
  color: #1D1D4D;
  padding: .5rem 2rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.bouttonsform{
  display: flex;
  padding-top: 4rem;
  flex-direction: row;
  gap: 5rem;
}

.absence-request-form{
  display: flex;
  z-index: 1001;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  border-radius: 1rem;
  background-color: #1D1D4D;
}
.form-choix{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}
.choix{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.custom-select-container {
  position: relative;
  width: 250px;
}

.select-button {
  width: 100%;
  background-color: #ABA3FF1A;
  color: #ABA3FF;
  border: none;
  border-radius: .5rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 1rem;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: .3rem;
  background-color: #1D1D4D;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
  padding: 0;
  list-style: none;
}

.option-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #ABA3FF;
  font-weight: 500;
  font-size: 0.95rem;
}

.option-item:hover {
  background-color: #ABA3FF22;
}

.option-item.active {
  background-color: #ABA3FF33;
  font-weight: bold;
}

input[type="date"] {
  background-color: #ABA3FF1A;
  color: #ABA3FF;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  appearance: none; 
  -webkit-appearance: none;
  cursor: pointer;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  background-color: #9091B6;
  cursor: pointer;
  margin: 5px;
}