.employee-dashboard{
  flex-direction: row;
  position: fixed;
  overflow-y: auto;  
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;
  background: #0F0F28 ;
  z-index: 0; 
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

}
.navigation-bar-left{
  display: flex;
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  left: 0;
  height: 100vh;
  width: 15vw;
  min-width: 11.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.navigation-bar-left h2{
  color: #BCBCD4;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin-left: 10%;
}


.content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 11px;
  color: var(--color-black);
  font-family: Inter;
}

.input-search-custom {
  width: 100%;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 0 36px 0 12px; 
  font-size: 13px;
  font-family: Inter;
  outline: none;
  background-color: #9091B6;
  color: #333;
  transition: border-color 0.2s;
}


.input-search-custom::placeholder {
  color: black;
  opacity: 1;
}

.input-search-custom:focus {
  border-color: var(--accent-color);
}

.filtrerparnom{
  display: flex;
  padding-top: .5rem;
  flex-direction: column;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  color: #ABA3FF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin-left: 10%;
}
.boutton-filtre-nom{
  display: flex;
  width: 73%;
  background: transparent;
  color: #ABA3FF;
  border: none;
  padding: 0.7rem 1rem;
  text-align: left;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-left: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.boutton-filtre-nom:hover {
  color: #FFFFFF;
}
.boutton-filtre-nom.active{
  background-color: #19193b;
  color: white;
  border-left: 4px solid #ABA3FF; /* ligne gauche visible */
  border-radius: 4px;
}
.navigation-employee{
  margin-top: 7rem;
}
.tableau-historique-right{
  display: flex;
  margin-left: max(15vw, 11rem);
  flex-direction: column;
  right: 0;
}

.manager-dashboard{
  flex-direction: row;
  position: fixed;
  overflow-y: auto;  
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;
  background: #0F0F28 ;
  z-index: 0; 
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.managerheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: max(15vw, 11rem);
  margin-top: 5rem;
  text-align: left;
}
.managerheader h2{
  display: flex;
  margin-left: 4%;
}
.managerdemandeabscence{
    display: flex;
    margin-left: 3%;
    gap: 0;
    flex-wrap: wrap;
}

.employee-info{
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    justify-content: center;
    text-align: center;
}
.solde-restant-info{
  display: none;
}
.solde-nouvelledemande{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: end;
}
.circularprogresssolde{
  display: flex;
  width: 100%;
  margin-bottom: 4rem;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
}
.circularprogresssolde h1{
  color: #FFFFFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-align: left;

}
.progress-bar{
  display: flex;
  background-color: #9091B6;
  border-radius: .3rem;
  margin-left: 10%;
  width: 80%;
  height: 1.5rem;
}
.solde-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    background-color: #5B45FF;
    color: #b4b5d4;
}
.solde-progress p{
    display: inline-block;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;

}
.submitboutton{
  display: flex;
  width: 80%;
  margin-left: 10%;
  background-color: #5B45FF;
  color: #FFFFFF;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.submitboutton-smallscreen{
  display: none;
}
.submitboutton:hover{
  background-color:#9082ff ;
}
.Title{
  background-color: #19193b;
  border-top-left-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-left: .25em;
  margin-right: .25em;
  padding: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid transparent;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
}
.Title span {
  flex: 1; 
  text-align: center;
  font-weight: 600;
} 
.statut {
  display: inline-block;
  padding: 0.5rem 0rem;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
  font-size: 0.9rem;
  text-align: center;
}

.titleandfiltres{
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 10%;
}

.filtres{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0rem;
}
.filtreboutton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.leave-requests{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-left: 3%;
}
.Title-leave-requests  {
  text-align: left;
  margin-left: 1rem;
  font-size: none;
}
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.pagination button {
  padding: 6px 10px;
  background: transparent;
  cursor: pointer;
}

.pagination button.active {
  background: #5B45FF;
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}

.description {
    display: flex;
    gap: 0px;
    flex-direction: column;
    height: fit-content;
    margin-top: 8px;
}

.employee-info h1{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.employee-info p{
    margin-top: 0px;
    color: #9091B6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
    padding: 15px;
    padding-left:3rem;
    padding-right:3rem;
    text-align: left;
}


@media (max-width: 890px) {

  .employee-dashboard{
  flex-direction: column;
}
.navigation-bar-left{
  display: flex;
  background: linear-gradient(92deg, rgba(29, 29, 77, 0.55) -6.57%, rgba(67, 67, 179, 0.55) 97.28%);
  background-color: #0F0F28;
  flex-direction: row-reverse;
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
  left: 0;
  top: 0;
  height: 160px;
  width: 100vw;
  min-width: 11.5rem;
  border-right: none;
}
.navigation-employee{
  display: flex;
  width: 50%;
  margin-top: 0rem;
}
.employee-info{
    display: flex;
    margin-top: .5rem;
    width: 50%;
    flex-direction: column;
    height: fit-content;
    border-top: none;
    justify-content: center;
    text-align: center;
}
.employee-info p{
    margin-top: .5rem;
    line-height: 20%;

}
.employee-info h1{
    line-height: 10%;

}
.progress-bar{
  display: flex;
  background-color: #9091B6;
  border-radius: .3rem;
  margin-left: 10%;
  width: 60%;
  height: 1.2rem;
}
.solde-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    background-color: #5B45FF;
    color: #b4b5d4;
}
.solde-restant-info{
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
}
.tableau-historique-right{
  display: flex;
  margin-left: 0;
  margin-top: 160px;
  flex-direction: column;
  right: 0;
}
.titleandfiltres{
  margin-top: 148px;
}
.navigation-bar-left h2{
  display: none;
}
.solde-nouvelledemande{
  display: none;
}
.submitboutton{
  display: none;
}

.titleandfiltres{
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 4%;
  margin-right: none;
}
.Title-leave-requests  {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 0rem;
  font-size: 14px;
}
.submitboutton-smallscreen{
  display: flex;
  width: 10rem;
  margin-right: 10%;
  height: fit-content;
  background-color: #5B45FF;
  color: #FFFFFF;
  border-radius: .5rem;
  padding: .5rem 1.3rem;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.submitboutton-smallscreen:hover{
  background-color:#9082ff ;
}
.filtrerparnom{
  display: none;
}

.managerheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  margin-top: 200px;
}


}
@media (max-width:680px) {
  .Title{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 15px;
}
}
@media (max-width:535px) {
.employee-info h1{
    line-height: 1;

}
}